/* font-family: 'Liu Jian Mao Cao', cursive;
font-family: 'ZCOOL XiaoWei', serif; */
body {
    color: black;
    margin: 15px 25px 45px 25px;
    letter-spacing: 3px;
    background-image: linear-gradient(lightgreen,lightblue);
    font-family: 'Liu Jian Mao Cao', cursive;
}
h1 {
    text-align: center;
    font-size: 2rem;
    text-decoration: underline;
}
h2 {
    text-align: left;
    font-size: 2rem;
}
p {
    text-align: left;
    font-size: 2rem;

}
ul {
    text-align: left;
    text-decoration: none;
}
iframe {
    margin: 15px 33%;
    border: 1px black solid;
}
footer {
    text-align: center;
    margin-top: 25px;
}